<!DOCTYPE html>

@{
  Layout = "_Layout";
}

<body>
  <h5>Creating an order for vendor '@Model.Name'</h5>
  <form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="title" name="price" value="10">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description (Optional)</label>
      <input type="text-area" class="form-control" id="description" name="description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
