<!DOCTYPE html>

@{
  Layout = "_Layout";
}

<body>
  @using VendorTracker.Models

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Order: @Model.Title <span class="badge bg-primary rounded-pill">$@Model.Price</span></h5>
      <p class="card-text">@Model.Description</p>
      <div class="mb-3">
        <form action="/vendors/@Model.vendorId/orders/@Model.Id/delete" method="post">
          <button class="btn btn-danger">Delete Order</button>
        </form>
      </div>
</body>
