<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " href="/">
      <h1 class="logo">VendorTracker 9000</h1>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Vendors
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/vendors">View</a></li>
            <li><a class="dropdown-item" href="/vendors/new">Add</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Orders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/orders">View</a></li>
            <li><a class="dropdown-item" href="/vendors/">Add</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" action="/">
        <input class="form-control me-2" type="search" placeholder="Coming soon" aria-label="Search" disabled>
        <button class="btn btn-outline-success" type="submit" disabled>Search</button>
      </form>
    </div>
</nav>
