<header>
  <h1>VendorTracker 9000</h1>
  <nav class="nav-chunk">
    <h3>Vendor Actions</h3>
    <a class="nav-button" href="/vendors">
      <li>View</li>
    </a>
    <a class="nav-button" href="/vendors/new">
      <li>Add</li>
    </a>
  </nav>
</header>
